#income-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;

  h1 {
    font-size: 1.3rem;
  }

  h3 {
    text-align: center;
    padding-bottom: 1rem;
    font-weight: 500;
  }

  input {
    border: none;
    outline: none;
    // background-color: $off-white;
    border-bottom: 0.1px solid #c6c6c6;
    text-align: center;
  }

  p {
    font-weight: 100;
    padding-bottom: 0.4rem;
  }

  input {
    font-size: 1rem;
    color: #090035;
  }
}

#income-section2 {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 1rem;
}

#income-input {
  height: 19rem;
  width: 18rem;
  background-color: transparent;
}

#expenses-input {
  height: 19rem;
  width: 18rem;
  background-color: transparent;
}

.ui-input {
  text-align: center;
  padding: 0.3rem;
}

#income-title {
  color: #119535;
}

#expenses-title {
  color: #f20131;
}

// #reset-button {
//   padding-bottom: 1rem;
// }

#reset-button2 {
  padding: 0.3rem;
}
