#main-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

#results-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

#results-box2 {
  height: 17rem;
  width: 100rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      to right bottom,
      rgba(48, 48, 48, 0.8),
      rgba(77, 77, 77, 0.8)
    ),
    url("http://www.kabu-load.net/data/out/1/IMG_475.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  h3 {
    color: $off-white;
    font-weight: 500;
    letter-spacing: 0.1rem;
    padding-bottom: 0.2rem;
  }
}

#income-output {
  height: 3.5rem;
  width: 13rem;
  background-color: green;
  opacity: 0.8;
  border-radius: 5rem;
}

#expenses-output {
  height: 3.5rem;
  width: 13rem;
  background-color: red;
  opacity: 0.8;
  border-radius: 5rem;
}

#balance-output {
  height: 3.5rem;
  width: 13rem;
  background-color: black;
  opacity: 0.8;
  border-radius: 5rem;
}

.result-output {
  padding: 2.5rem;

  h3 {
    text-align: center;
  }
}
