#main-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

#results-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

#results-box2 {
  height: 17rem;
  width: 100rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  background-image: linear-gradient(
      to right bottom,
      rgba(48, 48, 48, 0.5),
      rgba(77, 77, 77, 0.5)
    ),
    url("http://www.kabu-load.net/data/out/1/IMG_475.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  .test {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h3 {
    color: $off-white;
    font-weight: 500;
    letter-spacing: 0.1rem;
    padding-bottom: 0.2rem;
    font-size: 1rem;
  }
}

#income-output {
  height: 2.5rem;
  width: 20rem;
  background-color: #119535;
  opacity: 0.9;
}

#expenses-output {
  height: 2.5rem;
  width: 20rem;
  background-color: #f20131;
  opacity: 0.9;
}

#balance-output {
  height: 2.5rem;
  width: 13rem;
  opacity: 0.8;
  font-size: 3rem;
  color: $off-white;
}

.result-output {
  padding: 0.5rem;

  h3 {
    text-align: left;
    padding-top: 0.5rem;
    padding-left: 0.3rem;
  }
}
